openapi: 3.0.0
info:
  description: |-
    This API powers our website.
    Most API functions are public and do not require an account. For user-based functions, you must register an account.
    Currently, user registration must be done through our main website and is disabled via this API.

    Download OpenAPI Specification: [openapi.yaml](openapi.yaml)

    Please contact us at the following emails if you have questions:

    * lambchopsil@mangaupdates.com
    * manick@mangaupdates.com

    ## Warranties

    MangaUpdates makes no warranties about service availability, correctness of the data, or anything else. The service is provided as is, and may change at any time.

    ## Acceptable Use Policy

    * You will credit MangaUpdates when using data provided by this API.
    * You will use reasonable spacing between requests so as not to overwhelm the MangaUpdates servers, and employ caching mechanisms when accessing data.
    * You will NOT use MangaUpdates data or API in a way that will:
        * Deceive or defraud users
        * Assist or perform an illegal action
        * Create spam
        * Damage the database

    We reserve the right to change this policy at any time.
  title: MangaUpdates API
  version: 1.0.0
servers:
- url: https://api.mangaupdates.com/v1
security:
- bearerAuth: []
paths:
  /aboutus/category:
    post:
      operationId: addAboutusCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusCategoryModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Category was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: add a category
      tags:
      - aboutus
  /aboutus/category/{category_id}:
    delete:
      operationId: deleteAboutusCategory
      parameters:
      - description: Aboutus Category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Category was removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Category does not exist
        "401":
          description: Category does not have correct role
      security:
      - bearerAuth: []
      summary: remove a category
      tags:
      - aboutus
    get:
      operationId: retrieveAboutusCategory
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Aboutus Category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Category not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutusCategoryModelV1'
          description: Return category record
      summary: returns a single category
      tags:
      - aboutus
    patch:
      operationId: updateAboutusCategory
      parameters:
      - description: id of category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusCategoryModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Category was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Category not found
      security:
      - bearerAuth: []
      summary: update a category
      tags:
      - aboutus
  /aboutus/users:
    get:
      operationId: retrieveAboutusCategoriesAndUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AboutusCategoryModelV1'
                type: array
          description: List of categories and users
      summary: returns categories and users
      tags:
      - aboutus
  /aboutus:
    get:
      operationId: retrieveAboutusDescription
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutusDescriptionModelV1'
          description: Description of the site
      summary: returns description of site
      tags:
      - aboutus
    post:
      operationId: updateAboutusDescription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusDescriptionModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Description of the site updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Error updating description
        "401":
          description: User does not have appropriate role
      security:
      - bearerAuth: []
      summary: update description of site
      tags:
      - aboutus
  /aboutus/reorder:
    post:
      operationId: reorderAboutus
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AboutusCategoryReorderModelV1'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Categories and users were reordered
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: reorder aboutus
      tags:
      - aboutus
  /aboutus/category/{category_id}/users:
    post:
      operationId: addAboutusCategoryUser
      parameters:
      - description: Aboutus Category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusUserModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Category does not exist
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: add a user to a category
      tags:
      - aboutus
  /aboutus/category/{category_id}/users/{entry_id}:
    delete:
      operationId: deleteAboutusCategoryUser
      parameters:
      - description: Aboutus Category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Aboutus Category User Entry id
        explode: false
        in: path
        name: entry_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User was removed
        "404":
          description: User does not exist
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: remove a user from a category
      tags:
      - aboutus
  /account/captcha:
    get:
      operationId: captcha
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Return captcha record
      security:
      - bearerAuth: []
      summary: retrieve the public captcha key
      tags:
      - account
  /account/delete/confirm/{auth_hash}:
    post:
      operationId: confirmDeleteAccount
      parameters:
      - description: auth hash from email confirmation
        explode: false
        in: path
        name: auth_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Account was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      security:
      - bearerAuth: []
      summary: confirm deletion of your account
      tags:
      - account
  /account/delete/{captcha_response}:
    post:
      operationId: deleteAccount
      parameters:
      - description: response of captcha
        explode: false
        in: path
        name: captcha_response
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Account was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: delete your account
      tags:
      - account
  /account/forgotpass/confirm/{auth_hash}:
    post:
      operationId: confirmAndChangePassword
      parameters:
      - description: auth hash from email confirmation
        explode: false
        in: path
        name: auth_hash
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModelUpdatePasswordV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Password was changed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      summary: update a password change using an auth hash
      tags:
      - account
  /account/forgotpass/{captcha_response}:
    post:
      operationId: forgotPassword
      parameters:
      - description: response of captcha
        explode: false
        in: path
        name: captcha_response
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForgotPassModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Email was sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      summary: send a forgotten password email
      tags:
      - account
  /account/login:
    put:
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLoginModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Login successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: Invalid credentials or user error
      summary: create a session token
      tags:
      - account
  /account/logout:
    post:
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Logout successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User is not logged in
      security:
      - bearerAuth: []
      summary: remove a session token
      tags:
      - account
  /account/profile:
    get:
      operationId: profile
      responses:
        "404":
          description: User not found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User required
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserModelV1'
          description: Return user record
      security:
      - bearerAuth: []
      summary: get the profile for the current user
      tags:
      - account
  /account/register/confirm/{auth_hash}:
    post:
      operationId: confirmRegistration
      parameters:
      - description: auth hash from email confirmation
        explode: false
        in: path
        name: auth_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Member was confirmed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      summary: confirm a new member registration
      tags:
      - account
  /account/register/{captcha_response}:
    post:
      operationId: registerMember
      parameters:
      - description: response of captcha
        explode: false
        in: path
        name: captcha_response
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModelRegisterV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Member was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      security:
      - bearerAuth: []
      summary: register a new member
      tags:
      - account
  /account/resendauth/{id}:
    post:
      operationId: resendAuthEmail
      parameters:
      - description: Member id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Auth email was sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      security:
      - bearerAuth: []
      summary: send an auth email to a user
      tags:
      - account
  /account/sendforgot/{id}:
    post:
      operationId: sendForgotEmail
      parameters:
      - description: Member id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Auth email was sent
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
      security:
      - bearerAuth: []
      summary: send a forgotten password email to a user
      tags:
      - account
  /authors:
    post:
      operationId: addAuthor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Author was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: add an author
      tags:
      - authors
  /authors/{id}:
    delete:
      operationId: deleteAuthor
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Author delete transaction submitted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Author not found
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: delete an author
      tags:
      - authors
    get:
      operationId: retrieveAuthor
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Author id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Author not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsModelV1'
          description: Return author record
      summary: get a specific author
      tags:
      - authors
    patch:
      operationId: updateAuthor
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Author was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: Field is locked
        "404":
          description: Author not found
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: update an author
      tags:
      - authors
  /authors/{id}/locks:
    get:
      operationId: retrieveAuthorLocks
      parameters:
      - description: Author id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "404":
          description: Author not found
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuthorsLockModelV1'
                type: array
          description: Return author lock records
      security:
      - bearerAuth: []
      summary: get locks for a specific author
      tags:
      - authors
  /authors/{id}/locks/{item}/lock:
    post:
      operationId: lockAuthorField
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: field name
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsLockModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Field was locked
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Service or validation error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: State Conflict
        "401":
          description: User does not have correct role
        "404":
          description: Author not found
      security:
      - bearerAuth: []
      summary: lock a field of an author
      tags:
      - authors
  /authors/{id}/locks/{item}/unlock:
    post:
      operationId: unlockAuthorField
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: field name
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Field was unlocked
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: State Conflict
        "401":
          description: User does not have correct role
        "404":
          description: Author not found
      security:
      - bearerAuth: []
      summary: unlock a field of an author
      tags:
      - authors
  /authors/search:
    post:
      operationId: searchAuthorsPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsSearchRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsSearchResponseV1'
          description: List of authors
      summary: search authors
      tags:
      - authors
  /authors/{id}/series:
    post:
      operationId: retrieveAuthorSeries
      parameters:
      - description: Author id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsSeriesListRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Author not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsSeriesListResponseV1'
          description: Return series list
      summary: get the list of series for a specific author
      tags:
      - authors
  /authors/{id}/image:
    delete:
      operationId: deleteImage
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Image was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Author not found
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: delete the image of an author
      tags:
      - authors
    post:
      operationId: updateImage
      parameters:
      - description: id of author
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/updateImage_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Image was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: Field is locked
        "404":
          description: Author not found
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: update the image of an author
      tags:
      - authors
  /categories/bulk/combine:
    post:
      operationId: bulkCombineSeriesCategories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeriesCategoryUpdateModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Transaction has started
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "412":
          description: Five second update delay
      summary: combine two categories across the database
      tags:
      - categories
  /categories/bulk/delete:
    post:
      operationId: bulkDeleteSeriesCategories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Transaction has started
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "412":
          description: Five second update delay
      summary: delete a category across the database
      tags:
      - categories
  /categories/findByPrefix:
    post:
      operationId: findCategoryByPrefix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoriesModelV1'
                type: array
          description: Return categories records
      summary: find a category by prefix
      tags:
      - categories
  /categories/findByExact:
    post:
      operationId: findCategoryByExact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
        required: true
      responses:
        "404":
          description: Category not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesModelV1'
          description: Return categories record
      summary: find a category by name
      tags:
      - categories
  /categories/search:
    post:
      operationId: searchCategoriesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesSearchResponseV1'
          description: Return categories records
      summary: search categories
      tags:
      - categories
  /convo:
    post:
      operationId: addConvo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoModelAddV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Convo was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: add an convo
      tags:
      - convo
  /convo/bulk/abandon:
    post:
      operationId: abandonConvoBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoBulkModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Bulk abandon result
      security:
      - bearerAuth: []
      summary: abandon convos in bulk
      tags:
      - convo
  /convo/bulk/delete:
    post:
      operationId: deleteConvoBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoBulkModelV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Bulk deletion result
      security:
      - bearerAuth: []
      summary: delete convos in bulk
      tags:
      - convo
  /convo/{id}:
    delete:
      operationId: deleteConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Convo was deleted
        "404":
          description: Convo not found
      security:
      - bearerAuth: []
      summary: delete a convo
      tags:
      - convo
    get:
      operationId: retrieveConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "404":
          description: Convo not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoModelV1'
          description: Return convo record
      security:
      - bearerAuth: []
      summary: get a specific convo
      tags:
      - convo
    patch:
      operationId: updateConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Convo was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: update a convo
      tags:
      - convo
  /convo/ignore/{user_id}:
    delete:
      operationId: unIgnoreUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User ignore was removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: User does not exist
      security:
      - bearerAuth: []
      summary: remove ignore for a user
      tags:
      - convo
    get:
      operationId: isUserIgnored
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoUserIgnoreModelV1'
          description: User ignore record
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: User does not exists
      security:
      - bearerAuth: []
      summary: return whether the user is ignored
      tags:
      - convo
    post:
      operationId: ignoreUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User was ignored
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: User does not exists
      security:
      - bearerAuth: []
      summary: ignore a user
      tags:
      - convo
  /convo/inbox:
    get:
      operationId: convoInbox
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
          description: List of convos
      security:
      - bearerAuth: []
      summary: display unread messages
      tags:
      - convo
  /convo/inbox/count:
    get:
      operationId: convoInboxCount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
          description: Return number of new convos
      security:
      - bearerAuth: []
      summary: retrieve number of unread messages
      tags:
      - convo
  /convo/sent:
    post:
      operationId: convoSent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
          description: List of convos
      security:
      - bearerAuth: []
      summary: display sent messages
      tags:
      - convo
  /convo/received:
    post:
      operationId: convoReceived
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
          description: List of convos
      security:
      - bearerAuth: []
      summary: display received (and read) messages
      tags:
      - convo
  /convo/{id}/messages:
    post:
      operationId: addConvoMessage
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Message was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: add a message to a convo
      tags:
      - convo
  /convo/{id}/messages/list:
    post:
      operationId: listConvoMessages
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageListRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageSearchResponseV1'
          description: List of convo messages
        "404":
          description: Convo not found
      security:
      - bearerAuth: []
      summary: list convo messages
      tags:
      - convo
  /convo/{id}/messages/{message_id}:
    get:
      operationId: retrieveConvoMessage
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Convo message id
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "404":
          description: Convo message not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageModelV1'
          description: Return convo message record
      security:
      - bearerAuth: []
      summary: get a specific convo message
      tags:
      - convo
    patch:
      operationId: updateConvoMessage
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Convo message id
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Message was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "403":
          description: Permission error
        "404":
          description: Message does not exist
      security:
      - bearerAuth: []
      summary: update a convo message
      tags:
      - convo
  /convo/{id}/messages/{message_id}/location:
    get:
      operationId: retrieveConvoMessageLocation
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Convo message id
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Return convo message record
      security:
      - bearerAuth: []
      summary: get a specific convo message location
      tags:
      - convo
  /convo/{id}/messages/search:
    post:
      operationId: searchConvoMessagesPost
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageSearchResponseV1'
          description: List of convo messages
        "404":
          description: Convo not found
      security:
      - bearerAuth: []
      summary: search convo
      tags:
      - convo
  /convo/{id}/abandon:
    post:
      operationId: abandonConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Convo was abandoned
        "404":
          description: Convo not found
      security:
      - bearerAuth: []
      summary: abandon a convo
      tags:
      - convo
  /convo/{id}/invite:
    post:
      operationId: inviteUserToConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ConvoParticipantModelAddV1'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User was invited
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Convo does not exists
      security:
      - bearerAuth: []
      summary: invite a user to a convo
      tags:
      - convo
  /convo/{id}/join:
    post:
      operationId: joinConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Join successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Convo does not exists
      security:
      - bearerAuth: []
      summary: join a convo
      tags:
      - convo
  /convo/{id}/kick/{user_id}:
    post:
      operationId: kickUserFromConvo
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User was kicked from convo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "403":
          description: Permission error
        "404":
          description: Convo or user not found
      security:
      - bearerAuth: []
      summary: kick a user from a convo
      tags:
      - convo
  /convo/{id}/participants:
    get:
      operationId: retrieveConvoParticipants
      parameters:
      - description: Convo id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Convo not found
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConvoParticipantModelV1'
                type: array
          description: Return convo participants
      security:
      - bearerAuth: []
      summary: get list of convo participants
      tags:
      - convo
  /convo/search:
    post:
      operationId: searchConvoPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
          description: List of convos
      security:
      - bearerAuth: []
      summary: search convo
      tags:
      - convo
  /faq:
    get:
      operationId: retrieveAllFaqCategoriesAndQuestions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FaqCategoryQuestionsModelV1'
                type: array
          description: Return category and question records
      summary: retrieve all categories and questions
      tags:
      - faq
    post:
      operationId: addFaqCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqCategoryModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq category was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: add a faq category
      tags:
      - faq
  /faq/{category_id}:
    delete:
      operationId: deleteFaqCategory
      parameters:
      - description: id of faq category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq Category was deleted
        "401":
          description: User does not have correct role
        "404":
          description: Faq Category not found
      security:
      - bearerAuth: []
      summary: delete a faq category
      tags:
      - faq
    get:
      operationId: retrieveFaqCategory
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Faq category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Category not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaqCategoryModelV1'
          description: Return category record
      summary: get a specific category
      tags:
      - faq
    patch:
      operationId: updateFaqCategory
      parameters:
      - description: id of faq category
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqCategoryModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: update a faq category
      tags:
      - faq
  /faq/{category_id}/questions:
    get:
      operationId: retrieveAllFaqCategoryQuestions
      parameters:
      - description: Faq category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Category not found
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FaqQuestionModelV1'
                type: array
          description: Return question records
      summary: retrieve all quesitons for a category
      tags:
      - faq
    post:
      operationId: addFaqQuestion
      parameters:
      - description: id of category to add question to
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqQuestionModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq question was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: add a faq question
      tags:
      - faq
  /faq/{category_id}/questions/{question_id}:
    delete:
      operationId: deleteFaqQuestion
      parameters:
      - description: Faq category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Faq question id
        explode: false
        in: path
        name: question_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq question was deleted
        "401":
          description: User does not have correct role
        "404":
          description: Faq category or question not found
      security:
      - bearerAuth: []
      summary: delete an faq
      tags:
      - faq
    get:
      operationId: retrieveFaqQuestion
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Faq category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Faq question id
        explode: false
        in: path
        name: question_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "404":
          description: Category or question not found
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaqQuestionModelV1'
          description: Return question record
      summary: get a specific question for a category
      tags:
      - faq
    patch:
      operationId: updateFaqQuestion
      parameters:
      - description: Faq category id
        explode: false
        in: path
        name: category_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Faq question id
        explode: false
        in: path
        name: question_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqQuestionModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: update a faq question
      tags:
      - faq
  /faq/reorder:
    post:
      operationId: reorderFaq
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/FaqCategoryReorderModelV1'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Faq was reordered
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: reorder faq
      tags:
      - faq
  /forums/{forum_id}/admins/{user_id}:
    delete:
      operationId: removeForumAdmin
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum admin was removed
        "401":
          description: User does not have correct role
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User not found
      security:
      - bearerAuth: []
      summary: remove a forum admin
      tags:
      - forum
    put:
      operationId: addForumAdmin
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum admin was added
        "401":
          description: User does not have correct role
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User not found
      security:
      - bearerAuth: []
      summary: add a forum admin
      tags:
      - forum
  /forums/{forum_id}:
    get:
      operationId: retrieveForum
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumForumModelV1'
          description: Return topic record
        "404":
          description: Forum not found
      summary: retrieve a forum
      tags:
      - forum
    post:
      operationId: addTopic
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicModelAddV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum topic was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: add a forum topic
      tags:
      - forum
  /forums/log:
    post:
      operationId: showLogPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumAdminHistorySearchRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have appropriate role
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumAdminHistorySearchResponseV1'
          description: Return log records
      summary: show forum admin log
      tags:
      - forum
  /forums:
    get:
      operationId: listCategories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumCategoryModelListV1'
                type: array
          description: List of forums
      security:
      - bearerAuth: []
      summary: show forum categories and forums
      tags:
      - forum
  /forums/popular:
    get:
      operationId: listPopularForums
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumForumModelListV1'
                type: array
          description: List of forums
      security:
      - bearerAuth: []
      summary: show popular forums
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/my_posts:
    get:
      operationId: listPostsByMe
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostByUserResponseV1'
          description: Return post id list
        "401":
          description: User does not have correct role
      summary: list posts in topic that I made
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/list:
    post:
      operationId: listPosts
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostListResponseV1'
          description: Return post records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Forum or topic not found
      summary: list posts in topic
      tags:
      - forum
  /forums/{forum_id}/list:
    post:
      operationId: listTopics
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Also return the first post of each topic
        explode: true
        in: query
        name: with_first_post
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicListRequestV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicListResponseV1'
          description: Return topic records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "404":
          description: Forum not found
      summary: list topics
      tags:
      - forum
  /forums/global:
    get:
      operationId: listGlobalTopics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicListResponseV1'
          description: Return topic records
      summary: list global topics
      tags:
      - forum
  /forums/lookup/series/{series_id}:
    get:
      operationId: lookupSeries
      parameters:
      - description: Series id
        explode: false
        in: path
        name: series_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
          description: Series lookup response
        "404":
          description: Series or forum not found
      security:
      - bearerAuth: []
      summary: lookup a series to find the forum id
      tags:
      - forum
  /forums/lookup/topic/{topic_id}:
    get:
      operationId: lookupTopic
      parameters:
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
          description: Topic lookup response
        "404":
          description: Topic not found
      security:
      - bearerAuth: []
      summary: lookup a topic to find the forum id
      tags:
      - forum
  /forums/lookup/post/{post_id}:
    get:
      operationId: lookupPost
      parameters:
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
          description: Post lookup response
        "404":
          description: Post not found
      security:
      - bearerAuth: []
      summary: lookup a post to find the forum and topic id
      tags:
      - forum
  /forums/temp_poll_images:
    get:
      operationId: retrieveTemporaryPollImages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumPollTempImageModelV1'
                type: array
          description: Return image records
      summary: retrieve temporary poll images
      tags:
      - forum
    post:
      operationId: addTemporaryPollImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/addTemporaryPollImage_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Image was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: add a temporary poll image
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/poll:
    patch:
      operationId: updateTopicPoll
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPollModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Topic poll was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: update a forum topic poll (if present)
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/poll/vote/{choice_id}:
    post:
      operationId: addPollVote
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Choice id
        explode: false
        in: path
        name: choice_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Poll vote was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: add a vote to a forum poll
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/poll/vote:
    get:
      operationId: retrieveVote
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPollVoteModelV1'
          description: Return poll vote record
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User does not have correct role
        "404":
          description: Poll or vote not found
      security:
      - bearerAuth: []
      summary: retrieve my vote from the poll
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}:
    delete:
      operationId: deleteTopic
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Topic delete transaction submitted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: delete a topic
      tags:
      - forum
    get:
      operationId: retrieveTopic
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicModelV1'
          description: Return topic record
        "404":
          description: Topic not found
      summary: retrieve a forum topic
      tags:
      - forum
    patch:
      operationId: updateTopic
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum topic was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: update a forum topic
      tags:
      - forum
    post:
      operationId: addPost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum post was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: add a forum post
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/posts/{post_id}:
    delete:
      operationId: deletePost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Post delete transaction submitted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: delete a post
      tags:
      - forum
    get:
      operationId: retrievePost
      parameters:
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostModelV1'
          description: Return post record
        "404":
          description: Post not found
      summary: retrieve a forum post
      tags:
      - forum
    patch:
      operationId: updatePost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum post was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: update a forum post
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/posts/{post_id}/report:
    delete:
      operationId: deletePostReport
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Post report was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: delete a post report
      tags:
      - forum
    post:
      operationId: reportPost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostReportModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Forum post was reported
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "403":
          description: User is under a warn restriction
      security:
      - bearerAuth: []
      summary: report a forum post
      tags:
      - forum
  /forums/report:
    get:
      operationId: listReportedPosts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumPostReportModelV1'
                type: array
          description: Return Reported Posts
        "401":
          description: User does not have appropriate role
      security:
      - bearerAuth: []
      summary: show reported posts
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/posts/{post_id}/location:
    get:
      operationId: retrievePostLocation
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Post id
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Return post record
        "404":
          description: Post not found
      summary: retrieve a forum post location within topic
      tags:
      - forum
  /forums/search:
    post:
      operationId: searchForumPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
          description: Return search results
      summary: search forum
      tags:
      - forum
  /forums/{forum_id}/search:
    post:
      operationId: searchSpecificForumPost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
          description: Return search results
      summary: search specific forum
      tags:
      - forum
  /forums/{forum_id}/topics/{topic_id}/search:
    post:
      operationId: searchSpecificTopicPost
      parameters:
      - description: Forum id
        explode: false
        in: path
        name: forum_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Topic id
        explode: false
        in: path
        name: topic_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
          description: Return search results
      summary: search specific topic
      tags:
      - forum
  /forums/warn/{user_id}/history:
    get:
      operationId: listWarnHistoryForUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumWarnModelV1'
                type: array
          description: Warn history
        "401":
          description: User does not have appropriate role
      security:
      - bearerAuth: []
      summary: show warn history for a user
      tags:
      - forum
  /forums/warn/{user_id}:
    get:
      operationId: getCurrentWarnForUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumWarnModelV1'
          description: Warn status
      security:
      - bearerAuth: []
      summary: gets the current warn status for user
      tags:
      - forum
    put:
      operationId: updateUserWarnLevel
      parameters:
      - description: User id
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumWarnModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: User warn was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Member not found
      security:
      - bearerAuth: []
      summary: update a user warn level
      tags:
      - forum
  /genres:
    get:
      operationId: retrieveGenres
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GenreModelStatsV1'
                type: array
          description: Return genres
      summary: get genres
      tags:
      - genre
    post:
      operationId: addGenre
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Genre add transaction submitted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
      security:
      - bearerAuth: []
      summary: add a genre
      tags:
      - genre
  /genres/{id}:
    delete:
      operationId: deleteGenre
      parameters:
      - description: id of genre
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Genre was deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Genre not found
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
      summary: delete a genre
      tags:
      - genre
    get:
      operationId: retrieveGenreById
      parameters:
      - description: Genre id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Output fields in unrendered form for editing
        explode: true
        in: query
        name: unrenderedFields
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreModelStatsV1'
          description: Return genre
      summary: get genres
      tags:
      - genre
    patch:
      operationId: updateGenre
      parameters:
      - description: id of genre
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Genre was updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "404":
          description: Genre not found
      security:
      - bearerAuth: []
      summary: update a genre
      tags:
      - genre
  /groups:
    post:
      operationId: addGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsModelUpdateV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Group was added
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
          description: Validation or service error
        "401":
          description: User does not have correct role
        "412":
          description: Five second update delay
      security:
      - bearerAuth: []
[...]
